*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
body{
    background-image: url('bg.png');
    /* background-repeat: no-repeat; */
    /* background-size: cover=; */
}

.main_box{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box{
    display: flex;
    /* flex-direction: column; */
    width: 70%;
    height: 450px;
    background-color: rgb(255, 0, 0);
    margin-top: 10px;
    border-radius: 10px;
    border: 4px solid rgb(229, 255, 0);
    outline: 3px dashed red;
    opacity: 0.4;
}

.main_box_2{
    /* background-color: blue; */
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.box_1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 15px 15%;
}

.box_1> input{
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid black;
    margin-right: 15%;
}

.s_btn{
    width: 150px;
    height: 50px;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    outline: 2px dashed black;
}

.filename_inp{
    width: 300px;
    height: 40px;
    padding: 3px;
    font-size: large;
    border: none;
    border-radius: 5px;
    outline: 2px dashed rgb(0, 0, 0);
}